.services {
    color: #707070;
    padding-bottom: 10.5rem;
    padding-top: 10.5rem;
    &-list {
        margin-left: -11px;
        margin-right: -11px;
        &__item {
            background-color: $lightTextColor;
            display: flex;
            align-items: center;
            padding: 35px;
            margin-left: 11px;
            margin-right: 11px;
            width: calc(33.333% - 22px);
            &-icon {
                padding-right: 35px;
            }
            &-title {
                color: $darkTextColor;
                font-family: "Montserrat-Bold";
                font-size: 1.3rem;
                line-height: 1.44;
            }
            &-desc {
                font-family: "Montserrat-Regular";
                font-size: 1.1rem;
                line-height: 1.5;
                padding-top: 10px;
            }
        }
    }
}