/*TEKO FONT*/

@font-face {
    font-family: "Teko-Medium";
    src: url("../fonts/Teko/Teko-Medium/Teko-Medium.eot");
    src: url("../fonts/Teko/Teko-Medium/Teko-Medium.eot") format("embedded-opentype"),
    url("../fonts/Teko/Teko-Medium/Teko-Medium.ttf") format("truetype"),
    url("../fonts/Teko/Teko-Medium/Teko-Medium.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Teko-Regular";
    src: url("../fonts/Teko/Teko-Regular/Teko-Regular.eot");
    src: url("../fonts/Teko/Teko-Regular/Teko-Regular.eot") format("embedded-opentype"),
    url("../fonts/Teko/Teko-Regular/Teko-Regular.ttf") format("truetype"),
    url("../fonts/Teko/Teko-Regular/Teko-Regular.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Teko-SemiBold";
    src: url("../fonts/Teko/Teko-SemiBold/Teko-SemiBold.eot");
    src: url("../fonts/Teko/Teko-SemiBold/Teko-SemiBold.eot") format("embedded-opentype"),
    url("../fonts/Teko/Teko-SemiBold/Teko-SemiBold.ttf") format("truetype"),
    url("../fonts/Teko/Teko-SemiBold/Teko-SemiBold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Teko-Bold";
    src: url("../fonts/Teko/Teko-Bold/Teko-Bold.eot");
    src: url("../fonts/Teko/Teko-Bold/Teko-Bold.eot") format("embedded-opentype"),
    url("../fonts/Teko/Teko-Bold/Teko-Bold.ttf") format("truetype"),
    url("../fonts/Teko/Teko-Bold/Teko-Bold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

/*MONTSERRAT FONT*/

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.eot") format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot") format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.eot");
    src: url("../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.eot") format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-SemiBold/Montserrat-SemiBold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot") format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.eot");
    src: url("../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.eot") format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-ExtraBold/Montserrat-ExtraBold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}