.discounts-2 {
    padding-bottom: 44px;
}

.discounts-2-list {
    height: 529px;
    overflow: hidden;
    &__item {
        margin-right: 22px;
        margin-left: 22px;
        &-image {
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
    &__item[data-order="1"] {
        width: calc(40% - 44px);
    }
    &__item[data-order="2"] {
        width: calc(60% - 44px);
    }
}

@media screen and (max-width: 992px) {
    .discounts-2-list {
        height: auto;
        &__item {
            margin-right: 11px;
            margin-left: 11px;
            &-image {
                object-fit: cover;
                object-position: 70% 50%;
            }
        }
        &__item[data-order="1"] {
            width: calc(40% - 22px);
        }
        &__item[data-order="2"] {
            width: calc(60% - 22px);
        }
    }
}

@media screen and (max-width: 758px) {
    .discounts-2-list {
        &__item {
            margin-bottom: 15px;
            &-image {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__item[data-order="1"] {
            width: calc(100% - 22px);
        }
        &__item[data-order="2"] {
            width: calc(100% - 22px);
        }
    }
}